In [85]:
#4th may 2019 class
#assignment book reading from chap 5 onwards to do 10

In [1]:
print("hello") #string

hello

In [8]:
#so inverted commas and all in bw is string

In [5]:
print (46) #whole no - inrteger

46

### testing first cmd

In [7]:
print (53.23) #floating point

53.23

### data types string and arg difference

In [9]:
type(45.64)

float

In [12]:
type("lets")

str

In [13]:
print('string can be in single comas too')

string can be in single comas too

In [20]:
#but single commas wont rule out apostrophes thus its better to use double inverted commas

In [23]:
#doc string or signature? shift+tab for docstring
print("hi",123,1234.332)

hi 123 1234.332

In [3]:
print(sep="ee" 12.3,2322.322,242.232,2, sep="wwwww") #for sep cmd under docstring

#this sep always comes in end

SyntaxError: invalid syntax (<ipython-input-3-b6b03cb5ac54>, line 1)

In [33]:
print(12.3,2322.322,242.232,2, sep="wwwww") #for sep cmd under docstring

12.3wwwww2322.322wwwww242.232wwwww2

In [35]:
print ("Hello PIAIC")
print ("Hello PIAIC")
print ("Hello PIAIC")

#GOES TO NEW LINE BECAUSE OF DEFAULTS OF /n - newline in docstring syntax

Hello PIAIC
Hello PIAIC
Hello PIAIC

In [43]:
print ("Hello PIAIC" end="\t")

#check escape sequences 13 in total

SyntaxError: invalid syntax (<ipython-input-43-665df2c2f0d8>, line 1)

In [44]:
print (2+4)

6

In [48]:
print(2+"strsw")
#so the types need to be same for concatinating

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [50]:
print(str(2)+"hello")

#this is typecasting .we did this by making both of their types similar thus both are string now

2hello

In [52]:
print(2+int("1000"))

1002

#####################

In [57]:
#fornatting a string
xxx= "sam"
print("my name is xxx")

my name is xxx

In [60]:
name="sameer"
age= 15
print("my name is "+ name+" and my age is"+str(age))

my name is sameer and my age is15

In [62]:
print("my name is {} and my age is {}" .format(name, age))
#this saves typecasting where format position 0 and 1

my name is sameer and my age is 15

In [63]:
print("my name is {} and my age is {}" .format(age, name))

my name is 15 and my age is sameer

In [67]:
print("my name is {1} and my age is {0}" .format(name, age))

my name is 15 and my age is sameer

In [68]:
#latest value in name is considered

In [69]:
print(f"my name is {name} and my age is {age}")

my name is sameer and my age is 15

In [75]:
#int a=10 nor int a =10

#just
a=10.5
type(a)

float

In [76]:
print(4*"saber"*4)
#try sep here

sabersabersabersabersabersabersabersabersabersabersabersabersabersabersabersaber

In [77]:
a=2
b=3
c=a+b
c

5

In [80]:
a=3
b=3
c=a/b
c

#for its float by default or use // for int division

1.0

In [84]:
a=10
b=3
c=a/b
print(c)
round(c,3)


#for its float by default or use // for int division
#uses bodmas

3.3333333333333335

3.333