## Revison of 4TH May 2019 class - PIAIC 12.15-3.15PM

In [9]:
print ("Hello")

# Print hello requires double commas around the string
# Hello is string

# Also note that single commas can be used
print ('Testing single commas')

# Lets try printing commas too
print ("""Testing commas print""")
# it appears this wont work

Hello
Testing single commas
Testing commas print

In [3]:
print(46) # this is a whole number - integer

46

In [4]:
print(3.1416) # this is a float

3.1416

In [5]:
# Thus

print(34) # integer
print("This is an example of str") # string - str
print(22.77) # float

34
This is an example of str
22.77

In [19]:
# lets test printing multiple statements
print (34, 32.1234,"Sky is Blue!")

# But to write this down with seperation - use sep='x' where x is seperation content
print (34,"flimsy flame", "doeremon",453.113, sep=' | ')

34 32.1234 Sky is Blue!
34 | flimsy flame | doeremon | 453.113

In [38]:
print ("Hello PIAIC")
print ("Hello PIAIC")
print ("Hello PIAIC", end="\t")
print ("Hello PIAIC")

print ("one \t two \n seven")

# GOES TO NEW LINE BECAUSE OF DEFAULTS OF /n - newline in docstring syntax

Hello PIAIC
Hello PIAIC
Hello PIAIC	Hello PIAIC
one 	 two
 seven

In [42]:
print('apple\torange')

apple	orange

In [44]:
# Py uses BODMAS
print (8+4)
print (8/2+1)

12
5.0

In [50]:
# Now
# print(2+"strsw") wont work because both the types are different
# so the types need to be same for concatinating
# Thus
print(str(2)+"testing")
# Here we didnt add, but joined after def 2 as a str

print(2+int("1000")) # works

# but you cant def int as a str
print(2+str("1000"))

2testing
1002

TypeError: unsupported operand type(s) for +: 'int' and 'str'